// importation font Google
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

// Variables
$colorDyn:rgb(119, 224, 199);
$colorBg:rgb(71,71,71);
$diametre:300px;
$menuWidth:200px;

// Mixins
@mixin circleElement($d) {
  width:  $d;
  height: $d;
  border-radius: $d/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Animations
@keyframes slideBottom{
  from{bottom:-100px}
  to{bottom:0px}
}

@keyframes on{ 0%   {background: $colorDyn; width: 400px;} 50%   {background:
white; width: 400px;} 100% {background: white; width: 600px;} } @keyframes out{
0% {background: white; width: 600px;} 50%   {background: white; width: 400px;}
100%   {background: $colorDyn; width: 400px;} }

// Transitions
.slideLeft{
  left:$menuWidth;
}

// Styles
body{
  background: $colorBg;
  font-family: 'Fira Sans';
  color: #000;

  section{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    transition: left .3s;

    .menu{
      width:$menuWidth;
      position: absolute;
      top:0;
      left:-$menuWidth;
      background-color: #333;
      padding: 0;
      height:100%;
      color:#DDD;

      h3{
        padding:  3px 10px;
      }

      li{
        list-style-type: none;
        line-height:30px;
        cursor: pointer;
        padding: 3px 10px;
        &:hover{
          background-color: #666;
        }
      }
    }

    .h-menu{
      color:white;
      width:40px;
      height:40px;
      padding: .5em;
      font-size: 2em;
      cursor: pointer;
    }
    .rounded-div{
      @include circleElement($diametre);
      margin:20px auto;
      background-color: $colorDyn;
      border:20px solid $colorBg;
      cursor: pointer;
      text-align: center;
      transition: border-width .3s;
      p{
        width: $diametre/2;
      }
      &:hover{
        border-width: 0px;
      }
    }

    .keyframes-div{
      height: 50px;
      background-color: $colorDyn;
      width: 400px;
      margin:20px auto;
    }
    .animation-on{
      animation: on 1s;
      animation-fill-mode:forwards;
    }

    .animation-out{
      animation: out 1s;
    }

    .bottom-div{
      position: absolute;
      bottom: 0px;
      height: 100px;
      width: 100%;
      background-color:$colorDyn;
      animation-name: slideBottom;
      animation-duration: 1s;
    }
  }
}
